<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.2" targetFramework="net40-Client" />
  <package id="OpenTKWithOpenAL" version="1.1.1161.61462" targetFramework="net40-Client" />
  <package id="ToyMp3" version="1.0.0.0" targetFramework="net40-Client" />
</packages>