<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net40-Client" />
  <package id="MvvmLightLibs" version="4.2.30.0" targetFramework="net40" />
  <package id="Smartdevice.Connectivity" version="10.0.0.0" targetFramework="net40" />
</packages>