<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net40" />
  <package id="NAudio" version="1.7" targetFramework="net40" />
  <package id="NVorbis" version="0.7.2" targetFramework="net40" />
  <package id="AsfMojo" version="1.2.0.0" targetFramework="net40" />
  <package id="DeltaEngine.Multimedia.VlcToTexture" version="1.0.0.0" targetFramework="net40" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net40" />
  <package id="FarseerPhysics" version="3.5.0" targetFramework="net40" />
  <package id="Jitter" version="0.1.7.0" targetFramework="net40" />
  <package id="Autofac" version="3.0.2" targetFramework="net40" />
  <package id="Spine" version="1.6.18.0" targetFramework="net40" />
  <package id="OpenTKWithOpenAL" version="1.1.1161.61462" targetFramework="net40" />
  <package id="ToyMp3" version="1.0.0.0" targetFramework="net40" />
  <package id="DeltaEngine.OpenGL" version="1.1" targetFramework="net40" />
</packages>