<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LogServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://log.deltaengine.net/LogService.asmx" binding="basicHttpBinding"
                bindingConfiguration="LogServiceSoap" contract="LogService.LogServiceSoap"
                name="LogServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>